
.contact-page {
  position: relative;
  width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  color: #333333;
  min-height: 100vh;
  text-align: center;
  background-color: transparent; 
}


.contact-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* BACKGROUND VIDEO */
.contact-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* OVERLAY + CENTERED CONTENT */
.contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: rgba(255, 135, 239, 0.905);
}


.contact-heading {
  font-size: 3rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.contact-subheading {
  font-size: 1.3rem;
  margin-bottom: 30px;
}


.contact-social {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.contact-social a {
  color: #ffffff;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.contact-social a:hover {
  color: #888888;
  transform: translateY(-5px);
}

.contact-info-section {
  backdrop-filter:blur(10px);
  padding: 80px 10%;
}

.contact-info-section h2 {
  color: #ff99f3fc;
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.contact-info-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-box {
  background-color: #ffffffb7;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  padding: 30px;
  width: 280px;
  transition: all 0.3s ease;
}

.contact-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.contact-box h3 {
  color: #3a1332c2;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.contact-box p {
  color: #0b0b0ba1;
  font-size: 1.05rem;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-heading {
    font-size: 2.2rem;
  }

  .contact-info-row {
    flex-direction: column;
    align-items: center;
  }

  .contact-box {
    width: 90%;
  }
}
