:root {
  --primary: hsl(0, 0%, 16%);
  --accent:  #01c0c04d;
  --light-bg: #ffffff73;
  --dark: #000000;
  --text: #555;
}

html {
  scroll-behavior: smooth;
}

.fade-in, .slide-in, .zoom-in {
  opacity: 0;
  transition: all 0.9s ease-out;
}

.visible.fade-in {
  opacity: 1;
  transform: none;
}

.slide-in {
  transform: translateX(-50px);
}
.visible.slide-in {
  opacity: 1;
  transform: translateX(0);
}

.zoom-in {
  transform: scale(0.8);
}
.visible.zoom-in {
  opacity: 1;
  transform: scale(1);
}

.intro-section {
  background: #f9f9f9;
  padding: 80px 10%;
  text-align: center;
  color: #333;
}

.intro-content {
  max-width: 800px;
  margin: 0 auto;
}

.intro-section h2 {
  font-size: 2rem;
  color: #383b38;
  margin-bottom: 20px;
  font-weight: 700;
}

.intro-section p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
  margin-bottom: 15px;
}

.fade-in {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.footer.fade-in.visible{
  transform: none;
  opacity: 0;
} 
.bible-quote {
  max-width: 600px;
  margin: 1rem 0 1rem 0;
  padding: 0.7rem 2rem;
  background-color: rgba(255, 255, 255, 0.147);
  border-left: 5px solid #4caf50;
  font-family: 'Georgia', serif;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  border-radius: 8px;
  transform: none;
  margin-left: -1%;
  margin-right: auto;;
}

.bible-quote blockquote {
  margin-right: 20px;
  font-style: italic;
  line-height: 1.6;
  font-size: 1.2rem;
}

.bible-quote .highlight {
  font-weight: 600;
  color: #63ff68;
}

.bible-quote footer {
  margin-top: 1rem;
  text-align: right;
  font-weight: 700;
  color:  #69ff6ee7;
}

.bible-quote cite {
  font-style: normal;
  font-weight: 600;
}

.hero-section {
  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  transform: scale(1.05);
}

.hero-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 255, 0, 0.2));
  pointer-events: none;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.hero-content {
  max-width: 750px;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(1.5px);
  padding: 2rem 2.5rem;
  border-radius: 20px;
  margin-left: 0;    
  transform: translateX(-50px);
}

.hero-content h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateX(80px);
  animation: slideInRight 2s ease forwards;
}

.dnte-btn {
  display: inline-flex;          
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background: linear-gradient(135deg, #323232, #111513);
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 50px;
  padding: 0.8rem 1.8rem;
  text-decoration: none;        
  border: none;                  
  cursor: pointer;             
  transition: all 0.3s ease;
}

.dnte-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.dnte-btn:hover .heart-icon {
  color: red;
  transform: translateY(-3px);
}

.dnte-btn:focus {
  outline: none;
}


.hero-content span{
  color: #5bff66;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateX(-80px);
  animation: slideInLeft 1.2s ease forwards;
  animation-delay: 0.3s;
}

.hero-content .donate-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1.2s ease forwards;
  animation-delay: 0.6s;
}

@keyframes slideInRight {
  from { opacity: 0; transform: translateX(80px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slideInLeft {
  from { opacity: 0; transform: translateX(-80px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}



.hero-btn:hover {
  background: linear-gradient(135deg, #bfbfbf, #a1a1a1);
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  .hero-content {
    padding: 1.5rem;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 1.8rem;
  }
}

.projects-section {
  text-align: center;
  padding: 80px 10%;
 background: #fff;
  margin-top: 40px;
}

.projects-section h2 {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background: white;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.308);
  width: 300px;
  font-size: 15px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.project-card img {
  border-radius: 15px;
  margin-bottom: 1rem;
  width: 100%;
  height: 150px;
}

.impact-section {
  padding: 100px 50px;
  background-color: #fff;
}

.impact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.impact-image {
  position: relative;
  flex: 1;
  min-width: 320px;
  max-width: 550px;
}

.impact-image img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.impact-stats-bar {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #666666;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  width: 90%;
  color: #fff;
  box-shadow: 0 8px 18px rgba(255, 255, 255, 0.3);
}

.stat h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.stat p {
  font-size: 0.9rem;
  margin: 0;
}

.impact-text {
  flex: 1;
  min-width: 320px;
  max-width: 550px;
  position: relative;
}

.impact-text h5 {
  color: #8b8b8b;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.impact-text h2 {
  font-size: 2rem;
  color: #1d1d1d;
  margin-bottom: 20px;
  font-weight: 800;
}

.impact-text p {
  color: #555;
  margin-bottom: 20px;
  line-height: 1.7;
}

.impact-text ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.impact-text ul li {
  color: #333;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.impact-text ul i {
  color: #585858;
  margin-right: 8px;
}

.experience-box {
  background-color: #5e5e5e;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 30px;
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 6px 16px rgba(255, 255, 255, 0.579);
}

.experience-box h3 {
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
}

.experience-box p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: whitesmoke;
}


.learn-btn {
  background-color: #393939;
  color: #fff;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.learn-btn:hover {
  background-color: #929292;
}


.testimonials-section {
  text-align: center;
  padding: 80px 10%;
  background: white;
}

.testimonials-section h2 {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.testimonials-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card {
  background: var(--light-bg);
  padding: 1.5rem;
  border-radius: 20px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.8s ease-out;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
.stories-section {
  text-align: center;
  padding: 80px 10%;
  background: #fafafa;
}

.stories-section h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #333;
}

.stories-section p {
  color: #555;
  max-width: 700px;
  margin: 0 auto 50px;
}

.story-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #6a6a6a58;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.story-slide img {
  width: 380px;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
}

.story-text {
  max-width: 550px;
  text-align: left;
}

.story-text h4 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
}

.story-text p {
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
}

.swiper-pagination-bullet {
  background: #242424 !important;
}

@media (max-width: 768px) {
  .story-slide {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .story-slide img {
    width: 100%;
    height: auto;
  }

  .story-text {
    text-align: center;
  }
}


.cta-section {
  position: relative;
background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
  ),
  url("../assets/cta.jpg") center/cover no-repeat;

  color: #fff;
  text-align: center;
  padding: 120px 20px;
  overflow: hidden;
}

.cta-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); 
  z-index: 1;
}

.cta-section h2,
.cta-section p,
.cta-section .cta-btn {
  position: relative;
  z-index: 2;
}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.cta-section p {
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 25px;
  line-height: 1.6;
}

.cta-btn {
  background: #fff;
  color: #222;
  padding: 14px 32px;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-decoration: none;
}

.cta-btn:hover {
  background: #4caf50;
  color: #fff;
}

.faq-section {
  background-color: #f8f9fa;
  padding: 80px 20px;
  text-align: center;
}

.faq-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.faq-card {
  background: #fff;
  border-radius: 16px;
  border-left: 5px solid #242424;
  padding: 30px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: left;
}

.faq-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.faq-card i {
  font-size: 1.8rem;
  color: #4caf50;
  margin-bottom: 12px;
}

.faq-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.faq-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

.faq-section {
  padding: 60px 10%;
  background: #f4f4f4;
  text-align: center;
  margin-top: 120px;
}

.faq-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.faq-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #686868;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.faq-item:hover {
  border-color: #7f7f7f;
}

.faq-item h3 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: left;
}

.faq-item p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-top: 0;
  text-align: left;
}

.map-section {
  text-align: center;
  padding: 80px 10%;
  background-color: #f4f4f4;
}

.map-section h2 {
  color: var(--primary);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.map-section p {
  color: var(--text);
  max-width: 800px;
  margin: 0 auto 2rem;
  font-size: 1.1rem;
}

.map-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.map-container iframe {
  border: 0;
  width: 100%;
  height: 400px;
}

.footer {
  background: rgb(0, 0, 0);
  color: white;
  padding: 110px 10% 120px;
  text-align: center;
  margin-top: 30px;
}

.footer p {
  font-size: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 30px 5%;
    margin-top: 100px;
  }

  .faq-item {
    padding: 15px;
  }

  .faq-item h3 {
    font-size: 1.2rem;
  }

  .faq-item p {
    font-size: 0.95rem;
  }

  .map-section {
    padding: 60px 5%;
  }

  .map-container {
    max-width: 100%;
    border-radius: 10px;
  }
}
